.game-board {
    margin: 20px auto;
}

.game-settings {
    margin: 20px;
}

ion-range {
    padding: 0;
}

.status {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.history {
    margin: 10px 24px;
}