.square {
    border: 1px solid #999;
    text-align: center;
}

.square-info {
    border: none;
    font-size: 8px;
}

.square-info-l {
    border: none;
    border-top: 1px solid #999;
    font-size: 8px;
}

.square-win {
    background-color: lightgreen;
}
